<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/menu :: head">

</head>
<body class="body-expanded">
	<header th:replace="layout/menu :: header"> </header>
<body class="body-expanded">




	<div id="cliente-listar">


		<h1 class="titleMain" th:text="${titulo}">Listado Clientes</h1>


		<div class="card bg-light card-clientes">

			<div class="input-group busqueda-cliente">
				<input type="search" class="form-control rounded"
					placeholder="Buscar Cliente" aria-label="Search"
					aria-describedby="search-addon" />
				<button type="button" class="btn btn-primary">
					<i class="fa fa-search"></i>
				</button>

			</div>
			<div class="row align-items-center">
				<div class="col-4 align-self-start">
					<a th:href="@{/registrarCaso}">
						<button type="button"
							class="btn btn-primary  btn-registro-cliente">

							Registrar</button>
					</a>
				</div>

			</div>
			<div class="card-body">

				<table>
					<thead>
						<tr>
							<th>Fecha Inicio</th>
							<th>Fecha Finalizacion</th>
							<th>Servicio</th>
							<th>Cliente</th>
							<th>Abogado</th>
							
							<th>Nombre del caso</th>
							<th>Descripcion</th>
							<th>Editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="caso: ${casos}">
							<td th:text="${caso.fechaInicio}"></td>
							<td th:text="${caso.fechaFinalizacion}"></td>
							<td th:text="${caso.servicio.nombre} "></td>
							<td th:text="${caso.cliente.nombre} + ' '+${caso.cliente.apellido}"></td>
							<td th:text="${caso.abogado.nombre} + ' '+${caso.abogado.apellido}"></td>
							<td th:text="${caso.nombre}"></td>
							<td th:text="${caso.descripcion} "></td>

							<td><a class="btn btn-primary btn-sm"
								th:href="@{/registrarCaso/} + ${caso.id}" th:text="'editar'"></a></td>

						</tr>


					</tbody>
				</table>

			</div>
		</div>
	</div>



</body>
</html>

