<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/menu :: head">


</head>
<body class="body-expanded">
	<header th:replace="layout/menu :: header"> </header>
	<h1 class="titleFormulario" th:text="${titulo}"></h1>

	<div class="row mt-5" id="jumbo-ventas">

		<div
			class="col-md-7 animate__animated animate__zoomIn daniel rounded border border-info p-4">

			<form id="ds" th:action="@{/formCitas}" method="post"
				th:object="${cita}">
				<div class="row">
					<div class="col">

						<label for="cliente">Cliente</label> <select class="form-control"
							th:errorClass="'form-control alert-danger'" th:field="*{cliente}">
							<option value="">--Seleccionar--</option>
							<option th:each="cliente: ${listaClientes}"	th:text="${cliente.nombre}" th:value="${cliente.id}"></option>
						</select> <small class="form-text text-danger"></small>

					</div>
					<div class="col col-name">
						<label for="apellido">Hora</label> <input type="time"
							id="fechaInicio" class="form-control" >



					</div>


				</div>
				<div class="row">
					<div class="col">
						<label for="fechaNac">Fecha Cita</label> <input type="date"
							class="form-control" th:errorClass="'form-control alert-danger'"
							placeholder="Fecha Programada" th:field="*{fechaProgramada}">
						<small class="form-text text-danger"></small>

					</div>
					<div class="col">

						<label for="nacionalidad">Asunto</label> <input type="text"
							class="form-control" placeholder="Asunto Cita"
							th:field="*{asunto}" th:errorClass="'form-control alert-danger'">
						<small class="form-text text-danger"></small>
					</div>



				</div>



				<br></br>
				<button type="submit" class="btn btn-primary btn-register"
					id="submit">Guardar nuevo cliente</button>
				<input type="hidden" th:field="*{idCita}" />
			</form>

		</div>

	</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- jQuery timepicker library -->
<link rel="stylesheet" href="jquery-timepicker/jquery.timepicker.min.css">
<script src="jquery-timepicker/jquery.timepicker.min.js"></script>
		<script th:src="@{/js/hora.js}"></script>
</body>
</html>