<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/menu :: head">

</head>
<body class="body-expanded">
	<header th:replace="layout/menu :: header"> </header>
<body class="body-expanded">




	<div id="cliente-listar">


		<h1 class="titleMain" th:text="${titulo}">Listado Clientes</h1>


		<div class="card bg-light card-clientes">

			<div class="input-group busqueda-cliente">
				<input type="search" class="form-control rounded"
					placeholder="Buscar Cliente" aria-label="Search"
					aria-describedby="search-addon" />
				<button type="button" class="btn btn-primary">
					<i class="fa fa-search"></i>
				</button>

			</div>
			<div class="row align-items-center">
				<div class="col-4 align-self-start">
					<a th:href="@{/formCitas}"> <button type="button" class="btn btn-primary  btn-registro-cliente" >
						
						Registrar
					</button></a>
				</div>

			</div>
			<div class="card-body">

				<table>
					<thead>
						<tr>
							<th>Fecha <i class="fa fa-calendar"></i>  </th>
							<th>Hora <i class="fa fa-clock"></i></th>
							<th>Cliente  <i class="fa fa-user"></i></th>
							<th>Asunto a tratar <i class="fa fa-comment"></i></th>
							<th>Accion <i class="fa fa-cogs"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cita: ${citas}">
							<td th:text="${cita.fechaProgramada}"> </td>
							<td th:text="${cita.hora}"></td>
							<td th:text="${cita.cliente.nombre} + ' '+${cita.cliente.apellido}"></td>
							<td th:text="${cita.asunto} " ></td>
				
							<td><a class="btn btn-primary btn-sm "
							th:href="@{/formCitas/} + ${cita.idCita}" ><i class="fa fa-edit"></i></a>
							<a class="btn btn-danger btn-sm  btn-delete"
							th:href="@{/formCitas/} + ${cita.idCita}" ><i class="fa fa-times-circle"></i>
</a>
							</td>
						
						</tr>

						
					</tbody>
				</table>
						<nav th:replace="paginator-nav  :: paginator" > </nav>

			</div>
		</div>
	</div>



</body>
</html>

