<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="#{text.insertar.vehiculo}"></div>
			<div class="card-body">

				<div th:object="${vehiculo}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/formVehiculo}" th:object="${vehiculo}" method="post"
					enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.marca}">marca</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{marca}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.modelo}">Modelo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{modelo}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.numPlazas}">Numero de plazas</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{numPlazas}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('numPlazas')}"
								th:errors="*{numPlazas}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.tipoCambio}">Tipo de cambio</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{tipoCambio}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('tipoCambio')}"
								th:errors="*{tipoCambio}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.anyo_vehiculo}">Fecha</label>
						<div class="col-sm-6">
							<input type="text" class="form-control"
								th:field="*{anyo_vehiculo}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('anyo_vehiculo')}"
								th:errors="*{anyo_vehiculo}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.combustible }">Combustible</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{combustible}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('combustible')}"
								th:errors="*{combustible}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.vehiculo.tipo}">Tipo de vehiculo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{tipo}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<label th:text="#{text.vehiculo.codAgencia.nombre}"></label><br /> <select
								th:field="${vehiculo.codAgencia}" multiple="multiple">
								<option th:each="agencia :${agencias}"
									th:value="${agencia.codigo}" th:text="${agencia.nombre}"></option>
							</select><br />
						</div>
					</div>
					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" />

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear vehiculo"
								th:text="#{text.insertar.vehiculo}"class="btn btn-secondary"  />
						</div>
					</div>
<input type="hidden" th:field="*{numeroOferta}"/>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>